extends layoutIndex

block content
  div.vertical-center
    div.container
      div.row.justify-content-center.align-items-center
        div.col-sm-6.content-column.d-flex.align-items-center.justify-content-center.uber-grey
            div.login-box.d-flex.flex-column.align-items-center
              div.welcome.text-center
                h3 Welcome to MyRides 
              div.sign-in-url
                - var url = 'api/login'
                //- a(href='/' + url) Sign in With
                P Sign in with:
                a(href='/' + url) 
                  image(src='/images/uber_logo.png')
                if errorMessage
                  div.alert.alert-warning 
                    #{errorMessage}
              //- div.uber-logo
                //- image(src='/images/uber_logo.png')
