extends layoutPages
block append head
  script(src='/javascripts/helperScripts.js')
  script(src='/javascripts/myridesTable.js')

block content
  
  div.contents.text-center
    div(class='welcome' data-uber-id=uuid)
      h3 #{firstName}'s MyRides Summary 
    div.d-flex.flex-row.justify-content-center
      div.table
        table(class="table" id="trips-summary")
          thead.thead-dark
            tr
              th City
              th Trips with Uber
          tbody
    h4(class="text-info" id="data-loading-cue") Loading data, please wait .......


