extends layoutPages

block content
  div.jumbotron.vertical-center
    div.container
      div.row.d-flex.justify-content-center
        dib.col-10.col-md-8.text-center
          div.contents
            div.welcome
              h3 Users Rides Google Maps
            div.d-flex.flex-row.justify-content-center

